

body {
    margin: 0;
    padding: 0;
    color: #EAF1EC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 20px;
    background-color: #ffffff;
    background-repeat: repeat;
    background: url("images/Optimized-woo3 (2).jpg");

}
a{
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    letter-spacing: -1px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h1 { font-size: 32px; margin-bottom: 20px; }
h2 { font-size: 28px; margin-bottom: 20px; }
h3 { font-size: 20px; margin-bottom: 20px; }
h4 { font-size: 16px; margin-bottom: 10px; font-weight: 100 }
h5 { font-size: 14px }
h6 { font-size: 12px }
.header { display: block }

.left { float:left }
.right { float:right }

em { color: #e1d620 }

.img_fl { float: left; margin: 3px 15px 5px 0 }
.img_fr { float: left; margin: 3px 0 5px 15px }
.img_border { background: #fff; padding: 4px; border: 1px solid #eee }

a:link, a:visited { color:#e79e05; text-decoration: none;}
a:visited { text-decoration:none }
a:hover { text-decoration:none }
a:hover,a:active { outline:none }


p { margin: 0 0 15px 0; padding: 0 }
img { border: none; }
blockquote { padding: 19px; margin: 20px 0 0 0; background:url(images/templatemo_h2.png) repeat; border: 1px solid #869172 }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #333; }

.tmo_ul_list { margin: 10px 0 10px 15px; padding: 0; list-style: none }
.tmo_ul_list li { color:#ffffff; margin: 0 0 7px 0; padding: 2px 0 2px 30px; background: url(images/templatemo_list.png) no-repeat scroll 0 3px  }
.tmo_ul_list li a { color: #ffffff; font-weight: normal; text-decoration: none }
.tmo_ul_list li a:hover { color: #ffffff }

.tmo_list_circle { list-style: decimal-leading-zero }
.tmo_list_circle li { margin: 0 0 7px 0 }

.no_bullet { margin: 0; padding: 0; list-style: none }
.no_bullet li { margin: 0 0 20px 0; padding: 0 }

.price { font-size: 18px; font-weight: 700; color: #fff }
.normal_price { color: #999; text-decoration:line-through }
.special_price { color: #fced11 }

#templatemo_wrapper_h { width: 100%; background: url(images/templatemo_headerrepeat.jpg) repeat-x top }
#templatemo_wrapper_sp { width: 100%; background: url(images/templatemo_headerrepeat_subpage.jpg) repeat-x top }

/*#templatemo_header_wh {
        width: 100%;
        background: url(images/mad.jpeg) top center no-repeat
}*/

#templatemo_header_wsp {
    width: 100%;
    // background: url(images/templatemo_header_subpage.jpg) top center no-repeat
}

#templatemo_header {
    width: 980px;
    margin: 0 auto;
}
.header_home { height: 620px }
.header_subpage { height: 260px }
#templatemo_main_wrapper {
    width: 100%;
    // background: url(images/mad.jpeg) repeat-x bottom
}
#templatemo_main {
    width: 980px;
    margin: 0 auto;
    padding: 0 0 30px 0
}

#templatemo_footer_wrapper {
    width: 100%;
    background: #262921
}

#templatemo_footer {
    width: 980px;
    padding: 30px 0;
    margin: 0 auto;
}

#sidebar { width: 242px }
#content { width: 700px }
.content_half { width: 330px }
.half_margin{ float: left;}
.col { float: left; margin-right: 35px }
.col13 { width: 210px }
.col23 { width: 450px }

#site_title { padding: 20px 0 }
#site_title a { float: left; display: block; font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; 
                width: 250px; height: 105px; color: #acacac; text-indent: -10000px; background: url(images/105_250.jpg) no-repeat top left }

#templatemo_menu { clear: both; padding: 10px; width: 960px; height: 30px; background: url(images/templatemo_menu.png)}
#templatemo_menu1 {font-size: 14px; clear: both; padding: 10px; width: 960px; height: 30px; background: url(images/templatemo_menu.png)}
#templatemo_search { float: right; width: 214px; height: 30px; background: url(images/search_bg.png) }
#templatemo_search form {
    margin: 0;
    padding: 0;
}
#sign{float:right;
      display: block;
      padding: 5px;}
#hotline{float:right    ;
         display: block;
         font-size: 35px;
         margin-top: 20px;
         padding-top: 20px;



}
#templatemo_search .txt_field {
    float: left;
    display: block;
    height: 20px;
    line-height: 20px;
    width: 170px;
    color: #333;
    font-size: 12px;
    padding: 5px;
    font-variant: normal;
    border: none;	
    background: none;
}


#templatemo_search .sub_btn {
    float: right;
    display: block;
    color: #fff;
    height: 30px;
    width: 30px;
    font-size: 11px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
    border: none;
    background: none;	
}

.sidebar_box {
    position: relative;
    margin-bottom: 36px;
}
.sidebar_box .bottom {
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 242px;
    height: 5px;
    background: url(images/templatemo_sbbgb.png)
}

.sidebar_box h3 { 
    font-size: 14px; 
    font-weight: 700; 
    padding: 0 10px 0 10px;
    margin: 0; 
    /*width: 222px;*/   
    height: 44px; line-height: 44px; margin-bottom: 0; background: url(images/menuimage3.png)  no-repeat; color: #fff }

#sidebar .sidebar_box .content {
    padding: 10px 10px 5px;
    background: url(images/templatemo_sbbg.png) repeat-y
}

.special { text-align: center }
.special img { margin-bottom: 15px }
.special a { display: block; font-weight: 700; text-align: center; margin-bottom: 10px }

#sidebar .sidebar_list { margin: 0; padding: 0 0 10px; list-style: none; }
#sidebar .sidebar_list li { display: block; margin: 0; padding: 5px 0 }
#sidebar .sidebar_list li a { color: #ffffff; text-decoration: none; background: url(images/templatemo_list.png) left center no-repeat; padding-left: 18px; cursor: pointer;  }
#sidebar .sidebar_list li a:hover { color: #fff; text-decoration: none }

#content h2 { padding: 10px; background: url(images/templatemo_h2.png) repeat }

.product_box {
    float: left;
    width: 165px;
    text-align: center;
    //margin: 0 10px 10px 0
    margin-left: 10px;
    margin-right: 10px;
    background: url(images/templatemo_h2.png) repeat
}

.product_box img {
    margin-bottom: 5px;

}
.product_box h3 {
    font-size: 11px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 700;
}
.product_box .product_price {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
.product_box .add_to_cart {
    clear: both;
    width: 100%;
    height: 28px;
    // background: url(images/addtocart.png) no-repeat;
}

.product_box .add_to_cart a {
    float: left;
    display: block;
    width: 100%;
    line-height: 28px;
    text-align: center;
    color: #333;
    background-color: #EAF1EC;
    border-radius: 5px;
}

a.button {
    display: block;
    text-align: center;
    color: #333;
    width: 80px;
    height: 28px;
    line-height: 28px;
    background: url(images/templatemo_btn.png) no-repeat
}

.form_field input { 
    background: #395015; 
    border: 1px solid #5d7c29; 
    width: 300px;
    padding: 4px;
    color: #FFFFFF;
}

#contact_form { padding: 0; margin-bottom: 40px }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
    background: #395015; 
    border: 1px solid #5d7c29; 
    width: 200px;
    padding: 4px;
    color: #FFFFFF; 
}

#contact_form form label { 
    display: block; 
    width: 100px; 
    margin-right: 12px; 
    font-size: 11px 
}

#contact_form form textarea { 
    width: 400px; 
    height: 120px; 
    background: #395015; 
    border: 1px solid #5d7c29; 
    margin-bottom: 10px;
    padding: 4px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

#contact_form form .submit_btn { 
    display: block; 
    width: 80px; 
    height: 28px; 
    text-align: center; 
    text-decoration: none; 
    font-weight: bold;  
    background: url(images/templatemo_btn.png); 
    border: none; 
    color: #333; 
    font-size: 11px;
    cursor: pointer;
}

.submit_right {
    float: right;
    margin-right: 40px;
}

.map_border {
    background: url(images/templatemo_h2.png) repeat; 
    padding: 10px;
}

.faqs p { margin-bottom: 20px }
.faqs h5 { margin-bottom: 5px }

#gallery {
    margin: 0; padding: 0; list-style: none;
}
#gallery li { display: block; float: left; width: 450px; margin-right: 40px;	margin-bottom: 40px;
              padding-bottom: 40px;
              border-bottom: 1px solid #eee }
#gallery li img { margin-bottom: 20px; border: 1px solid #eee; background: #fff; padding: 9px }
.no_margin_right { margin-right: 0 }

#templatemo_footer .footer_left {
    float: left;
    width: 240px;
}
#templatemo_footer .footer_right {
    float: right;
    width: 700px;
    text-align: right;
}

.no_margin_right { margin-right: 0 }

.pagging { margin: 0 0 20px; padding: 0 }
.pagging ul { margin: 0; padding: 0; list-style: none }
.pagging ul li { margin: 0; padding: 0; display: inline }
.pagging ul li a { float: left; display: block; color: #333; text-decoration: none; margin-right: 5px; padding: 5px 10px; background: #fff; border: 1px solid #eee }
.pagging ul li a:hover { background: #f3b2bd; border: 1px solid #eee; color: #fff  }

.cleaner { clear: both; display: block; }
.h20 { height: 20px }
.h40 { height: 40px }
.madhu_flora{ font-size: 14px}


/*hohgoooooooooooooooooooooooo*/

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
    -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
    /*    Position the close button*/
    background: url(images/close_pop.png) repeat; 
    float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 214px;
}
.admin_button {
    // background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    // background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    // background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    // border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: red;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font-size: 15px;
    width: 53px;

}

.button:hover {
    background: #ddd;
}
/*form validation*/
.field_error{
    -webkit-box-shadow:inset 1px 1px 1px red;
    box-shadow:inset 0 0px 3px red;
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.hidden{
    display: none;
    color: red;
}

.hideitems{
    display: none;
}

.wrongformfield{
    color: red;

}

.New-lassana-btn{
    /*width: 160px;*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 7px 24px;
    margin: 0;
    background: -moz-linear-gradient(top,#0ba8a8 0,#125b5a);
    background: -webkit-gradient(linear,left top,left bottom,from(#0ba8a8),to(#125b5a));
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #fff;
    -moz-box-shadow: -3px 3px 3px rgba(153,150,153,1),inset 0 -1px 0 rgba(255,255,255,0.7);
    -webkit-box-shadow: -3px 3px 3px rgba(153,150,153,1),inset 0 -1px 0 rgba(255,255,255,0.7);
    background: -o-linear-gradient(top,#0ba8a8 0,#125b5a 100%);
    background: -ms-linear-gradient(top,#0ba8a8 0,#125b5a 100%);
    background: linear-gradient(to bottom,#0ba8a8 0,#125b5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ba8a8',endColorstr='#125b5a',GradientType=0);
    box-shadow: -3px 3px 3px rgba(153,150,153,1),inset 0 -1px 0 rgba(255,255,255,0.7);
    text-shadow: 0 -1px 1px rgba(000,000,000,0.2),0px 1px 0 rgba(255,255,255,0.3);
    cursor: pointer;
}
.New-lassana-btn:active{
    border: 0;
    background:  linear-gr  adient(to bottom,#0c7777 0,#125b5a 100%);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 7px 24px;
    margin: 0;
    border-radius: 8px;
    border: 2px solid #fff;
    -moz-box-shadow: -3px 3px 3px rgba(153,150,153,1),inset 0 -1px 0 rgba(255,255,255,0.7);
    -webkit-box-shadow: -3px 3px 3px rgba(153,150,153,1),inset 0 -1px 0 rgba(255,255,255,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ba8a8',endColorstr='#125b5a',GradientType=0);
    box-shadow: -3px 3px 3px rgba(153,150,153,1),inset 0 -1px 0 rgba(255,255,255,0.7);
    text-shadow: 0 -1px 1px rgba(000,000,000,0.2),0px 1px 0 rgba(255,255,255,0.3);
    cursor: pointer;
}
.New-lassana-btn:focus{
    outline: none;
}
#conshopping-btn{
    background:  linear-gradient(to bottom,#a189bc 0,#3b1e5a 100%);
    color: white;;
}
#deactbtn{
    background: linear-gradient(to bottom,#ef6548 0,#901313 100%);
}
/*#login_button{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(255, 255, 255, 0.3);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}*/

.madish-sele{
    font-size: 22px;
    display: block;
    width: 50%;
    height: 100%;
    padding: 5px 10px;
    background: transparent none repeat scroll 0% 0%;
    background-image: none;
    border: 1px solid rgb(160, 179, 176);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color 0.25s ease 0s, box-shadow 0.25s ease 0s;
    
}
.madish-sele option{
    color: black;
}